.wrapper{
	margin:auto;
	width:1200px;
}
.header-wrap{
	background-color:#fff;
	width:100%;
}
.public-head-layout{
	height:100px;
	padding:20px 0;
}
.public-head-layout .site-logo{
	float:left;
	height:60px;
	margin:15px 125px auto 0;
	width:240px;
}
.public-head-layout .site-logo img{
	max-height:60px;
	max-width:240px;
}
.head-search-bar{
	position:relative;
}
.head-search-bar{
	float:left;
	overflow:hidden;
	padding-top:28px;
	width:440px;
}
#search ul.tab{
	display:block;
	height:23px;
	left:0;
	overflow:hidden;
	position:absolute;
	top:8px;
	width:200px;
	z-index:99;
}
#search ul.tab li{
	color:#555;
	cursor:pointer;
	float:left;
	font-weight:bold;
	height:20px;
	line-height:20px;
	margin-right:8px;
	padding:0 14px 3px;
	white-space:nowrap;
}
#search ul.tab li.current:hover{
	background:#434343 none repeat scroll 0 0;
}
#search ul.tab li.current{
	background:#434343 none repeat scroll 0 0;
	color:#fff;
	float:left;
	height:20px;
	line-height:22px;
	margin:0;
	padding:0 14px 3px;
}
.head-search-bar .search-form{
	background-color:#434343;
	height:36px;
	padding:3px;
}
.head-search-bar .input-text{
	border:0 none;
	color:#555;
	float:left;
	height:24px;
	line-height:24px;
	padding:6px 1%;
	width:82%;
}
.head-search-bar .input-submit,.head-search-bar .input-submit:hover{
	background-color:transparent;
	border:medium none;
	color:#fff;
	cursor:pointer;
	float:right;
	font-size:14px;
	font-weight:600;
	height:36px;
	width:15%;
}
.head-search-bar .keyword{
	color:#999;
	height:20px;
	line-height:20px;
	margin-top:4px;
	overflow:hidden;
	white-space:nowrap;
	width:500px;
}
.head-search-bar .keyword ul{
	display:inline-block;
	font-size:0;
	vertical-align:top;
}
.head-search-bar .keyword ul li{
	display:inline-block;
	font-size:12px;
	letter-spacing:normal;
	margin-right:12px;
	vertical-align:top;
	word-spacing:normal;
}
.head-search-bar .keyword ul li a{
	color:#777;
}
.head-app{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll 0 -60px;
	float:left;
	height:55px;
	margin:15px 20px 0 0;
	position:relative;
	width:160px;
	z-index:100;
}
.head-app .pic{
	background:rgba(0,0,0,0) url("../images/app.gif") no-repeat scroll 0 0;
	display:block;
	height:50px;
	margin:2px 0 0 38px;
	width:120px;
}
.head-app:hover{
	background-position:0 -115px;
}
.head-app:hover .pic{
	display:none;
}
.head-app .download-app{
	background:rgba(255,255,255,0.95) none repeat scroll 0 0;
	border:1px solid #aaa;
	box-shadow:4px 4px 0 rgba(0,0,0,0.1);
	display:none;
	left:0;
	padding:9px;
	position:absolute;
	top:55px;
	width:222px;
	z-index:1;
}
.head-app:hover .download-app{
	display:block;
}
.head-app .download-app .qrcode{
	float:left;
	text-align:center;
	width:120px;
}
.head-app .download-app .qrcode img{
	display:block;
	max-height:120px;
	max-width:120px;
}
.head-app .download-app .hint{
	float:right;
	text-align:center;
	width:100px;
}
.head-app .download-app .hint h4{
	color:#434343;
	font-size:14px;
	font-weight:600;
	line-height:24px;
}
.head-app .download-app .addurl{
	clear:right;
	float:right;
	margin:6px 4px 0 0;
	width:90px;
}
.head-app .download-app .addurl a{
	background-color:#f5f5f5;
	border:1px solid #ddd;
	clear:both;
	color:#999;
	display:block;
	height:16px;
	line-height:16px;
	margin-top:5px;
	padding:5px 9px;
	width:70px;
}
.head-app .download-app .addurl a i{
	font-size:14px;
	margin-right:4px;
}
.head-app .download-app .addurl a:hover{
	background-color:#ffe7db;
	border-color:#f0ac75;
	color:#f63;
	text-decoration:none;
}
.head-user-menu{
	float:right;
	font-size:0;
	margin:29px 0 0;
}
.head-user-menu dl{
	display:inline-block;
	font-size:12px;
	letter-spacing:normal;
	margin-left:10px;
	position:relative;
	vertical-align:top;
	word-spacing:normal;
	z-index:3;
}
.head-user-menu dl.my-mall{
	width:108px;
}
.head-user-menu dl.my-cart{
	width:124px;
}
.head-user-menu dl.hover{
	z-index:101;
}
.head-user-menu dl dt{
	background-color:#fafafa;
	border:1px solid #f0f0f0;
	color:#555;
	cursor:pointer;
	height:20px;
	line-height:20px;
	padding:10px;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
.head-user-menu dl.my-mall dt{
	width:90px;
}
.head-user-menu dl.my-cart dt{
	width:106px;
}
.head-user-menu dl.hover dt{
	background-color:#fff;
	border-color:#f0f0f0 #f0f0f0 #fff;
	border-width:1px;
}
.head-user-menu dl dt span.ico{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	vertical-align:middle;
	width:20px;
}
.head-user-menu dl.my-mall span.ico{
	background-position:-100px 0;
	margin-right:4px;
}
.head-user-menu dl.my-cart span.ico{
	background-position:-120px 0;
	margin-right:8px;
}
.head-user-menu dl dt i{
	border-color:#777 transparent transparent;
	border-style:solid dashed dashed;
	border-width:4px;
	display:inline-block;
	font-size:0;
	height:0;
	line-height:0;
	margin-left:8px;
	transition:all 0.2s ease-in 0s;
	vertical-align:middle;
	width:0;
}
.head-user-menu dl.hover dt i{
	transform:rotate(180deg);
	transform-origin:50% 30% 0;
}
.head-user-menu dl dd{
	background-color:#fff;
	border:1px solid #f0f0f0;
	display:none;
	position:absolute;
	right:0;
	top:40px;
	z-index:1;
}
.head-user-menu dl.my-mall dd{
	width:308px;
}
.head-user-menu dl.my-cart dd{
	width:348px;
}
.head-user-menu dl.hover dd{
	display:block;
}
.head-user-menu dl dd a{
	color:#005ea6;
}
.head-user-menu a.arrow i{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll -150px 0;
	display:inline-block;
	height:7px;
	margin-left:4px;
	vertical-align:middle;
	width:4px;
}
.head-user-menu dl dd .goods-thumb{
	height:50px;
	width:50px;
}
.head-user-menu dl dd .goods-thumb a{
	border:1px solid #ddd;
	display:table-cell;
	height:48px;
	line-height:0;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
	width:48px;
}
.head-user-menu dl dd .goods-thumb img{
	max-height:48px;
	max-width:48px;
}
.head-user-menu dl dd .sub-title{
	border-bottom:1px solid #ddd;
	height:28px;
	line-height:28px;
	padding:7px;
}
.head-user-menu dl dd .sub-title h4{
	float:left;
	font-weight:600;
}
.head-user-menu dl dd .sub-title a{
	float:right;
}
.head-user-menu dl dd .user-centent-menu{
	overflow:hidden;
	padding:8px 0;
	width:308px;
}
.head-user-menu dl dd .user-centent-menu ul{
	margin-left:-2px;
	width:310px;
}
.head-user-menu dl dd .user-centent-menu ul li{
	border-left:1px solid #eee;
	float:left;
	padding:4px 0 4px 16px;
	width:138px;
}
.head-user-menu dl dd .browse-history{
	background-color:#fafafa;
	border-color:#ddd transparent transparent;
	border-style:solid;
	border-width:1px 0 0;
	width:308px;
}
.head-user-menu dl dd .browse-history .part-title{
	height:20px;
	padding:6px 8px;
}
.head-user-menu dl dd .browse-history .part-title h4{
	float:left;
}
.head-user-menu dl dd .browse-history .part-title a{
	float:right;
}
.head-user-menu dl dd .browse-history ul{
	font-size:0;
	padding:0 7px 7px;
}
.head-user-menu dl dd .browse-history ul li{
	display:inline-block;
	letter-spacing:normal;
	margin:0 4px;
	vertical-align:top;
	word-spacing:normal;
}
.head-user-menu dl dd .browse-history .no-goods{
	display:block;
	font-size:12px;
	text-align:center;
	width:100%;
}
.head-user-menu dl dd .incart-goods-box{
	display:block;
	max-height:267px;
	overflow:hidden;
	position:relative;
	width:348px;
}
.head-user-menu dl dd .incart-goods{
	text-align:center;
	width:100%;
}
.head-user-menu dl dd .incart-goods .no-order{
	margin:20px 0;
}
.head-user-menu dl dd .incart-goods .loading{
	height:16px;
	margin:20px auto;
	width:16px;
}
.head-user-menu dl dd .incart-goods dl{
	border-bottom:1px dotted #ddd;
	clear:both;
	display:block;
	height:66px;
	margin:0 auto 0 2%;
	position:relative;
	width:98%;
	z-index:1;
}
.head-user-menu dl dd .incart-goods dt,.head-user-menu dl dd .incart-goods dd{
	background-color:transparent;
	border:0 none;
	position:absolute;
	z-index:1;
}
.head-user-menu dl dd .incart-goods dt.goods-name{
	background-color:transparent;
	height:32px;
	left:64px;
	line-height:16px;
	padding:0;
	text-align:left;
	top:8px;
	width:180px;
}
.head-user-menu dl dd .incart-goods dt.goods-name a{
	color:#333;
}
.head-user-menu dl dd .incart-goods dd.goods-thumb{
	left:8px;
	top:8px;
}
.head-user-menu dl dd .incart-goods dd.goods-price{
	height:16px;
	right:12px;
	text-align:right;
	top:6px;
	width:80px;
}
.head-user-menu dl dd .incart-goods dd.goods-price em{
	color:#777!important;
	font-size:11px!important;
	font-weight:normal!important;
	line-height:16px;
	margin-right:4px;
	overflow:hidden;
	text-align:right;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:50px;
	word-break:break-all;
	word-wrap:break-word;
}
.head-user-menu dl dd .incart-goods dd.goods-sales{
	background-color:transparent;
	color:#999;
	height:16px;
	left:64px;
	line-height:16px;
	top:42px;
	width:270px;
}
.head-user-menu dl dd .incart-goods dd.handle{
	right:10px;
	top:22px;
	width:32px;
}
.head-user-menu dl dd .checkout{
	background-color:#f0f0f0;
	overflow:hidden;
	padding:8px;
	text-align:right;
}
.head-user-menu dl dd .checkout .total-price{
	display:block;
	line-height:20px;
}
.head-user-menu dl dd .checkout .total-price i{
	color:#c00;
	font-weight:600;
	margin:0 4px;
}
.head-user-menu dl dd .checkout .total-price em{
	color:#c00;
	font-family:Verdana,Geneva,sans-serif;
	font-size:18px;
	font-weight:600;
}
.head-user-menu dl dd .checkout .btn-cart{
	background-color:#434343;
	border-radius:4px;
	clear:both;
	color:#fff;
	float:right;
	line-height:20px;
	margin-top:4px;
	padding:4px 8px;
}
.head-user-menu dl div.addcart-goods-num{
	background:#f00 none repeat scroll 0 0;
	border:0 none;
	border-radius:8px;
	color:#fff;
	display:inline-block;
	font:bold 11px/14px Verdana;
	height:16px;
	left:20px;
	min-width:16px;
	position:absolute;
	text-align:center;
	top:-4px;
	z-index:3;
}
.public-nav-layout{
	border-bottom:2px solid #434343;
	height:42px;
	margin:0 auto;
	position:relative;
	width:100%;
	z-index:99;
}
.public-nav-layout .div{
	margin:0;
	padding:0;
}
.public-nav-layout .site-menu{
	float:left;
	font-size:0;
	max-width:988px;
	overflow:hidden;
	white-space:nowrap;
}
.public-nav-layout .site-menu li{
	display:inline-block;
	letter-spacing:normal;
	vertical-align:top;
	word-spacing:normal;
}
.public-nav-layout .site-menu li a{
	color:#434343;
	display:inline-block;
	font-size:16px;
	font-weight:normal;
	height:26px;
	line-height:26px;
	padding:8px 24px;
}
.public-nav-layout .site-menu li a:hover{
	color:#ffffff;
	background:#434343;
	text-decoration:none;
}
.public-nav-layout .site-menu li a.current{
	color:#434343;
	background:#ffffff;
	font-weight:600;
}
.public-nav-layout .all-category{
	background-color:#434343;
	display:block;
	float:left;
	height:41px;
	width:212px;
}
.public-nav-layout .all-category .title{
	height:26px;
	line-height:26px;
	padding:8px 24px;
	background:#434343;
}
.public-nav-layout .all-category .title h3{
	color:#fff;
	float:left;
	font-size:14px;
	font-weight:normal;
	margin-left:4px;
}
.public-nav-layout .all-category .title i{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll -182px -186px;
	float:left;
	font-size:0;
	height:14px;
	line-height:0;
	margin:6px 4px 0 0;
	width:18px;
}
.public-nav-layout .all-category .category{
	display:none;
	width:212px;
}
.public-nav-layout .all-category:hover .category{
	display:block;
}
.public-nav-layout .category .menu{
	background-color:#f4c8b4;
	padding-top:2px;
}
.public-nav-layout .category .menu li{
	height:34px;
	position:relative;
	width:212px;
	z-index:1;
}
.public-nav-layout .category .menu li.hover{
	z-index:2;
}
.public-nav-layout .category .menu li:last-child{
	height:35px;
}
.public-nav-layout .category .class{
	display:block;
	height:16px;
	left:0;
	padding:9px 15px;
	position:absolute;
	top:0;
	transition:all 0.3s ease 0s;
	width:183px;
	z-index:1;
}
.public-nav-layout .category .class .ico{
	display:inline-block;
	height:16px;
	margin-right:6px;
	vertical-align:top;
	width:16px;
}
.public-nav-layout .category .class .ico img{
	display:block;
	height:16px;
	width:16px;
}
.public-nav-layout .category .class h4{
	display:inline-block;
	vertical-align:top;
	font-weight:800;
	font-size:1.1em;
}
.public-nav-layout .category .class h4 a{
	font-size:13px;
	height:16px;
	line-height:16px;
}
.public-nav-layout .category .class .arrow{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll -150px -10px;
	float:right;
	height:5px;
	margin:5px 0 0;
	width:3px;
}
.public-nav-layout .category .sub-class{
	background-color:#fafafa;
	border-color:transparent #f32613 #f32613;
	border-style:solid;
	border-width:0 1px 1px;
	display:none;
	left:212px;
	min-height:450px;
	padding:10px 20px 19px;
	position:absolute;
	top:-1px;
	width:946px;
	z-index:1;
}
.public-nav-layout .category li.hover .sub-class{
	display:block;
}
.public-nav-layout .category .sub-class-content{
	display:block;
	float:left;
	width:730px;
}
.public-nav-layout .category .recommend-class{
	display:block;
	font-size:0;
	overflow:hidden;
	word-spacing:-1em;
}
.public-nav-layout .category .recommend-class span{
	background-color:#7c7171;
	display:inline-block;
	font-size:12px;
	letter-spacing:normal;
	margin:0 10px 10px 0;
	vertical-align:top;
	word-spacing:normal;
}
.public-nav-layout .category .recommend-class span a{
	color:#fff;
	display:block;
	line-height:20px;
	padding:2px 10px;
}
.public-nav-layout .category .sub-class dl{
	font-size:0;
	padding-top:10px;
	word-spacing:-1em;
}
.public-nav-layout .category .sub-class dl dt,.public-nav-layout .category .sub-class dl dd{
	display:inline-block;
	font-size:12px;
	letter-spacing:normal;
	vertical-align:top;
	word-spacing:normal;
}
.public-nav-layout .category .sub-class dl dt{
	background:rgba(0,0,0,0) url("../images/top_bg.png") no-repeat scroll right -25px;
	height:16px;
	margin-right:15px;
	padding-right:15px;
	width:70px;
}
.public-nav-layout .category .sub-class dl dt h3{
	color:#5c5251;
	font-weight:600;
	line-height:16px;
	text-align:right;
}
.public-nav-layout .category .sub-class dl dd{
	border-bottom:1px solid #f0f0f0;
	font-size:0;
	width:630px;
	word-spacing:-1em;
}
.public-nav-layout .category .sub-class dl:last-child dd{
	border-bottom:0 none;
}
.public-nav-layout .category .sub-class dl dd a{
	border-left:1px solid #e7e7e7;
	color:#7c7171;
	display:inline-block;
	font-size:12px;
	height:14px;
	letter-spacing:normal;
	line-height:14px;
	margin-bottom:10px;
	padding:0 10px;
	vertical-align:top;
	word-spacing:normal;
}
.public-nav-layout .category .sub-class dl dd a:hover{
	color:#c81623;
}
.public-nav-layout .category .sub-class dl dd h5{
	color:#333;
	font-size:12px;
	line-height:20px;
	margin:4px 0 2px;
}
.public-nav-layout .category .sub-class-right{
	display:block;
	float:right;
	height:440px;
	width:194px;
}
.public-nav-layout .category .brands-list{
}
.public-nav-layout .category .brands-list ul{
	font-size:0;
	height:136px;
	overflow:hidden;
	word-spacing:-1em;
}
.public-nav-layout .category .brands-list li{
	background-color:transparent!important;
	display:inline-block;
	font-size:12px;
	height:31px;
	letter-spacing:normal;
	margin:0 1px 3px 2px;
	vertical-align:top;
	width:94px;
	word-spacing:normal;
}
.public-nav-layout .category .brands-list li a{
	display:block;
	position:relative;
	z-index:1;
}
.public-nav-layout .category .brands-list li a img{
	bottom:0;
	height:31px;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:94px;
	z-index:2;
}
.public-nav-layout .category .brands-list li a span{
	background-color:#fff;
	color:#333;
	height:25px;
	line-height:25px;
	overflow:hidden;
	padding:3px 4px;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	white-space:nowrap;
	width:86px;
	z-index:1;
}
.public-nav-layout .category .brands-list li a:hover span{
	background:rgba(124,113,113,0.95) none repeat scroll 0 0;
	color:#fff;
	z-index:3;
}
.public-nav-layout .category .adv-promotions{
	display:block;
	margin:0 2px;
	width:190px;
}
.public-nav-layout .category .adv-promotions a{
	background:#fff none repeat scroll 0 0;
	display:block;
	height:150px;
	margin-top:10px;
	width:190px;
}
.public-nav-layout .category .adv-promotions img{
	background:#d3d3d3 none repeat scroll 0 0;
	height:150px;
	width:190px;
}
.nch-breadcrumb-layout{
	text-align:center;
}
.nch-breadcrumb{
	font-size:0;
	height:20px;
	margin:0 auto;
	padding:10px 0;
	text-align:left;
}
.nch-breadcrumb span{
	color:#999;
	display:inline-block;
	font-size:12px;
	height:20px;
	letter-spacing:normal;
	line-height:20px;
	word-spacing:normal;
}
.nch-breadcrumb i{
	color:#aaa;
	font-size:14px;
	margin-right:4px;
}
.nch-breadcrumb span.arrow{
	color:#aaa;
	font-family:"宋体";
	line-height:20px;
	margin:0 6px;
}
.nch-breadcrumb a{
	color:#777;
	display:block;
}
.nch-breadcrumb a:hover{
	color:#434343;
}
#top-banner{
	display:none;
	position:relative;
}
#top-banner .close{
	background:rgba(0,0,0,0) url("../images/close.gif") no-repeat scroll 0 0;
	display:block;
	height:12px;
	position:absolute;
	right:8px;
	top:5px;
	width:35px;
}
.public-nav-layout .category .hover .class{
	width:170px;
}
.public-nav-layout .category .menu li.hover .class h4 a{
	color:#f32613;
}
.public-nav-layout .category .menu .class-items{
	height:13px;
}
.public-nav-layout .category .menu .class-items dl{
	clear:both;
}
.public-nav-layout .category .menu .class-items dd{
	float:left;
	margin:5px;
	font-size:12px;
}
.public-nav-layout .category .menu .class-items a{
	color:#fff;
}
.public-nav-layout .category .menu .class-items a:hover{
	color:red;
}
a:link,a:visited,a:active{
	text-decoration:none;
}
