<!doctype html>
<html lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>春舞枝</title>

		<link rel="shortcut icon" href="http://531314.com/favicon.ico" />
		<link href="__ROOT__/Index/Common/css/base.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_header.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_login.css" rel="stylesheet" type="text/css">
		<link href="http://www.531314.com/resource/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="http://www.531314.com/templates/new/css/member.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>

	</head>

	<body>
		<include file="Component:site-nav" />
		<include file="Component:header" />
		<div class="nch-breadcrumb-layout">
			<div class="nch-breadcrumb wrapper"><i class="icon-home"></i>
				<span><a href="__APP__/Index/index">首页</a></span><span class="arrow">></span>
				<span><a href="">我的商城</a></span><span class="arrow">></span>
				<span>实物交易订单</span>
			</div>
		</div>

		<div class="ncm-container">
			<div class="left-layout">
				<div class="ncm-user-info">
					<div class="avatar"><img src="http://img.531314.com/shop/common/default_user_portrait.gif">
						<div class="frame"></div>
					</div>
					<div class="handle">
						<a href="index.php?act=member_information&op=avatar" title="修改头像"><i class="icon-camera"></i>修改头像</a>
						<a href="index.php?act=member_information&op=member" title="修改资料"><i class="icon-pencil"></i>修改资料</a>
						<a href="index.php?act=login&op=logout" title="安全退出"><i class="icon-off"></i>安全退出</a>
					</div>
					<div class="name">857902620&nbsp;
						<div class="nc-grade-mini" style="cursor:pointer;">V0</div>
					</div>
				</div>
				<ul class="ncm-sidebar ncm-quick-menu">
					<li class="side-menu-quick" nctype="commonOperations" style="display: none;">
						<a href="javascript:void(0)">
							<h3>常用操作</h3>
						</a>
						<ul>
						</ul>
					</li>
				</ul>
				<ul id="sidebarMenu" class="ncm-sidebar">
					<li class="side-menu">
						<h3>交易管理</h3>
						<ul>
							<li class="selected"><a href="__APP__/Order/order">实物交易订单</a></li>
							<li><a href="__APP__/Order/comment">交易评价</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="right-layout">
				<div class="wrap">
					<div class="tabmenu">
						<ul class="tab pngFix">
							<li class="active">
								<a>订单列表</a>
							</li>
						</ul>
					</div>
					<div>
						<table class="ncm-search-table">
							<tr>
								<td>&nbsp;</td>
								<th>订单状态</th>
								<td class="w100">
									<select name="state_type">
										<option value="" selected>所有订单</option>
										<option value="state_new">待付款</option>
										<option value="state_pay">待发货</option>
										<option value="state_send">待收货</option>
										<option value="state_success">已完成</option>
										<option value="state_noeval">待评价</option>
										<option value="state_cancel">已取消</option>
									</select>
								</td>
								<td class="w160"><input type="text" class="text w150" name="order_sn" value=""></td>
								<td class="w70 tc">
									<label class="submit-border">
										<input type="submit" class="submit" value="搜索"/>
									</label>
								</td>
							</tr>
						</table>
					</div>
					<table ng-app="app" ng-controller="myCon" class="ncm-default-table order">
						<thead>
							<tr>
								<th class="w10"></th>
								<th colspan="2">商品</th>
								<th class="w100">单价（元）</th>
								<th class="w40">数量</th>
								<th class="w100">售后</th>
								<th class="w120">订单金额</th>
								<th class="w100">交易状态</th>
								<th class="w150">交易操作</th>
							</tr>
						</thead>
						<tbody ng-show="isFind">
							<tr>
								<td colspan="20" class="norecord">
									<div class="warning-option"><i>&nbsp;</i><span>暂无符合条件的数据记录</span></div>
								</td>
							</tr>
						</tbody>
						<tbody ng-cloak ng-repeat="(k,v) in orders" class="pay">
							<tr>
								<td colspan="19" class="sep-row"></td>
							</tr>
							<tr ng-hide="v.is_cancel == 1">
								<td colspan="19" class="pay-td"><span class="ml15">在线支付金额：<em>￥{{v.totalmoney}}</em></span>
									<a ng-hide="v.is_pay == 1 " class="ncm-btn ncm-btn-orange fr mr15"><i class="icon-shield"></i>订单支付</a>
								</td>
							</tr>
							<tr>
								<th colspan="19">
									<span class="ml10">订单号：{{v.ordernumber}} </span>
									<span>下单时间：{{v.addtime}}</span>
									<span><a href="__ROOT__/Index/index" title="春舞枝旗舰店">春舞枝旗舰店</a></span>
									<span member_id="1"></span>
									<a class="share-goods"><i class="icon-share"></i>分享</a>
									<a ng-show="v.is_cancel == 0" class="order-trash"><i class="icon-trash"></i>删除</a>
								</th>
							</tr>
							<tr>
								<td class="bdl"></td>
								<td class="w70">
									<div class="ncm-goods-thumb">
										<a><img ng-src="__ROOT__/{{v.shops[0].imgurl}}" /></a>
									</div>
								</td>
								<td class="tl">
									<dl class="goods-name">
										<dt><a>{{v.shops[0].title}}</a></dt>
									</dl>
								</td>
								<td>{{v.shops[0].StorePrice}}</td>
								<td>{{v.shops[0].count}}</td>
								<td>
								</td>
								<td class="bdl" rowspan="{{v.shops.length}}">
									<p class=""><strong>{{v.totalmoney}}</strong></p>
									<p class="goods-freight">
										（免运费） </p>
									<p title="支付方式：在线付款">在线付款</p>
								</td>
								<td ng-show="v.is_cancel" class="bdl" rowspan="{{v.shops.length}}">
									<p><span ng-show="v.is_pay == 0 && v.is_cancel == 0" style="color:#36C">待付款</span> </p>
									<p><span ng-show="v.is_pay == 1 && v.is_receive == 0 && v.is_cancel == 0" style="color:#36C">待发货</span> </p>
									<p><span ng-show="v.is_pay == 1 && v.is_receive == 1 && v.is_cancel == 0" style="color:#36C">已完成，待评价</span> </p>
									<p><span ng-show="v.is_cancel == 1">已取消</span> </p>
									<p>
										<a>订单详情</a>
									</p>

								</td>
								<td class="bdl bdr" rowspan="{{v.shops.length}}">
									<p ng-hide="v.is_pay == 1 || v.is_receive == 1 || v.is_cancel == 1">
										<a ng-click="delOrder(v.ordernumber)" class="ncm-btn ncm-btn-red"><i class="icon-ban-circle"></i> 取消订单</a>
									</p>
								</td>
							</tr>
							<tr ng-repeat="(kk,vv) in v.shops" ng-if="$index !== 0">
								<td class="bdl"></td>
								<td class="w70">
									<div class="ncm-goods-thumb">
										<a><img ng-src="__ROOT__/{{vv.imgurl}}" /></a>
									</div>
								</td>
								<td class="tl">
									<dl class="goods-name">
										<dt><a>{{vv.title}}</a></dt>
									</dl>
								</td>
								<td>{{vv.StorePrice}}</td>
								<td>{{vv.count}}</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<include file="Component:footer" />
		<script type="text/javascript">
			var orderList = {$orderList};
			console.log(orderList.data)
			var app = angular.module("app", []);
			app.controller("myCon", function($scope, $http) {
				$scope.isFind = true;
				if(orderList.status === 1) {
					$scope.isFind = false;
				}
				$scope.orders = orderList.data;
				setTimeout(function() {
					$(".ncm-goods-thumb").on("mouseenter", mouseIn);
				}, 0);
				$scope.delOrder = function(ordernumber) {
					console.log(ordernumber);
				}
			});

			function mouseIn(ev) {
				var event = window.event || ev;
				var img = $("<img />");
				var src = $(this).find("img").attr("src");
				img.css({
					"position": "absolute",
					"width": "100",
				})
				img.attr("src", src);
				$(this).append(img);
				$(this).mousemove(function(ev) {
					var event = window.event || ev;
					img.css({
						"marginLeft": event.offsetX + 30,
						"marginTop": event.offsetY - 90,
					});
					$(this).mouseleave(function() {
						img.remove();
					})
				})
				return false;
			}
		</script>
	</body>

</html>