<!doctype html>
<html lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>春舞枝</title>
		<link rel="shortcut icon" href="http://531314.com/favicon.ico" />
		<link href="__ROOT__/Index/Common/css/base.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_header.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_login.css" rel="stylesheet" type="text/css">
		<link href="__APP__/Will/doresource/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="__ROOT__/Index/Common/css/layout.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
	</head>

	<body ng-app="app" ng-controller="myCon">
		
		<include file="Component:site-nav" />
		<include file="Component:header" />
		
		<div class="nch-breadcrumb-layout">
			<div class="nch-breadcrumb wrapper"><i class="icon-home"></i>
				<span><a href="__APP__/Index/index">首页</a></span><span class="arrow">></span>
				<span><a href="__APP__/Will/do-1072-0-0-0-0-0-0-0-0.html">所有分类</a></span><span class="arrow">></span>
				<span><a href="__APP__/Will/do-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a></span><span class="arrow">></span>
				<span>鲜花束</span>
			</div>
		</div>
		
		<div class="nch-container wrapper">
			<div class="left">
				<div class="nch-module nch-module-style02">
					<div class="title">
						<h3>分类筛选</h3>
					</div>
					<div class="content">
						<ul id="files" class="tree">
							<li><i class="tree-parent tree-parent-collapsed"></i>
								<a href="__APP__/Will/docate-1072-0-0-0-0-0-0-0-0.html">所有分类</a>
								<ul>
									<li><i class="tree-parent tree-parent-collapsed"></i>
										<a href="__APP__/Will/docate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a>
										<ul>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-0-0.html" class="selected">鲜花束</a>
											</li>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="__APP__/Will/docate-1075-0-0-0-0-0-0-0-0.html">盒装鲜花</a>
											</li>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="__APP__/Will/docate-1076-0-0-0-0-0-0-0-0.html">家庭插花</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="right">
				<div class="nch-module">
					<div class="class-content">
						<div class="goodsType">
							<div class="goodsType_row">
								<div class="goodsClass">主花材：</div>
								<div class="goodsLable">
									<div class="goodsLables" >
										<a ng-click="!isMaterial ? search($event,1) : ''">玫瑰</a>
										<a class="span-a" ng-click="unsearch($event,1)"><span>×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isMaterial ? search($event,1) : ''">百合</a>
										<a class="span-a" ng-click="unsearch($event,1)"><span>×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isMaterial ? search($event,1) : ''">康乃馨</a>
										<a class="span-a" ng-click="unsearch($event,1)"><span>×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isMaterial ? search($event,1) : ''">其它</a>
										<a class="span-a" ng-click="unsearch($event,1)"><span>×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isMaterial ? search($event,1) : ''">洋牡丹</a>
										<a class="span-a" ng-click="unsearch($event,1)"><span>×</span></a>
									</div>
								</div>
							</div>
							<div class="goodsType_row">
								<div class="goodsClass">枝数：</div>
								<div class="goodsLable">
									<div class="goodsLables">
										<a ng-click="!isNumber ? search($event,2) : ''">9</a>
										<a class="span-a" ng-click="unsearch($event,2)"><span>×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isNumber ? search($event,2) : ''">11</a>
										<a class="span-a" ng-click="unsearch($event,2)"><span >×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isNumber ? search($event,2) : ''">19</a>
										<a class="span-a" ng-click="unsearch($event,2)"><span >×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isNumber ? search($event,2) : ''">36</a>
										<a class="span-a" ng-click="unsearch($event,2)"><span >×</span></a>
									</div>
									<div class="goodsLables" >
										<a ng-click="!isNumber ? search($event,2) : ''">99</a>
										<a class="span-a" ng-click="unsearch($event,2)"><span >×</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nch-module nch-module-style01">
					<div class="title">
						<h3><em>鲜花束</em>-商品筛选</h3>
					</div>
					<div class="content">
						<div class="nch-module-filter">
							<dl>
								<dt>品牌：</dt>
								<dd class="list">
									<ul>
										<li>
											<a href="__APP__/Cate/cate_1074">春舞枝</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt>颜色：</dt>
								<dd class="list">
									<ul>
										<li>
											<a >红色</a>
										</li>
										<li>
											<a >香槟</a>
										</li>
										<li>
											<a >蓝色</a>
										</li>
										<li>
											<a >白色</a>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="shop_con_list" id="main-nav-holder">
					<nav class="sort-bar" id="main-nav">
						<div class="pagination">
							<ul>
								<li >
									<a ng-class="currentPage==0? '' : 'canHover'"><span ng-click="currentPage > 0? changePage(currentPage-1) : ''">上一页</span></a>
								</li>
								<li >
									<a ng-class="currentPage == pages - 1 ? '' : 'canHover' "><span ng-click="currentPage < pages -1 ? changePage(currentPage+1) : ''">下一页</span></a>
								</li>
							</ul>
						</div>
						<!--<div class="nch-all-category">
							<div class="all-category">
								<div class="title"> <i></i>
									<h3><a href="__APP__/Will/docategory.html">所有商品分类</a></h3>
								</div>
								<div class="category">
									<ul class="menu">
										<li class="odd">
											<div class="class">
												<h4><a href="__APP__/Will/docate-1072-0-0-0-0-0-0-0-0.html">所有分类</a></h4>
												<span class="arrow"></span> </div>
											<div class="sub-class">
												<div class="sub-class-content">
													<div class="recommend-class">
														<span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-0-0.html" title="鲜花束">鲜花束</a></span>
														<span><a href="__APP__/Will/docate-1075-0-0-0-0-0-0-0-0.html" title="盒装鲜花">盒装鲜花</a></span>
														<span><a href="__APP__/Will/docate-1076-0-0-0-0-0-0-0-0.html" title="家庭插花">家庭插花</a></span>
														<span><a href="__APP__/Will/docate-1078-0-0-0-0-0-0-0-0.html" title="多肉植物">多肉植物</a></span>
														<span><a href="__APP__/Will/docate-1079-0-0-0-0-0-0-0-0.html" title="桌面盆栽">桌面盆栽</a></span>
													</div>
													<dl>
														<dt>
<h3><a href="__APP__/Will/docate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a></h3>
</dt>
														<dd class="goods-class">
															<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-0-0.html">鲜花束</a>
															<a href="__APP__/Will/docate-1075-0-0-0-0-0-0-0-0.html">盒装鲜花</a>
															<a href="__APP__/Will/docate-1076-0-0-0-0-0-0-0-0.html">家庭插花</a>
														</dd>
													</dl>
													<dl>
														<dt>
<h3><a href="__APP__/Will/docate-1077-0-0-0-0-0-0-0-0.html">花卉绿植</a></h3>
</dt>
														<dd class="goods-class">
															<a href="__APP__/Will/docate-1078-0-0-0-0-0-0-0-0.html">多肉植物</a>
															<a href="__APP__/Will/docate-1079-0-0-0-0-0-0-0-0.html">桌面盆栽</a>
														</dd>
													</dl>
												</div>
												<div class="sub-class-right">
													<div class="brands-list">
													</div>
													<div class="adv-promotions"> </div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>-->
						<div class="nch-sortbar-array"> 排序方式：
							<ul>
								<li class="selected">
									<a  title="默认排序">默认</a>
								</li>
								<li>
									<a  title="点击按销量从高到低排序">销量<i></i></a>
								</li>
								<li>
									<a  title="点击按人气从高到低排序">人气<i></i></a>
								</li>
								<li>
									<a  title="点击按价格从高到低排序">价格<i></i></a>
								</li>
							</ul>
						</div>
						<div class="nch-sortbar-owner"><span><a ><i></i>平台自营</a></span></div>
						<div class="nch-sortbar-owner"><span><a ><i></i>赠品</a></span></div>
						<div class="nch-sortbar-location">商品所在地：
							<div class="select-layer">
								<div class="holder"><em>不限地区 </em></div>
								<div class="selected">
									<a>不限地区 </a>
								</div>
								<i class="direction"></i>
								<ul class="options">
									<div class="filter-detailc" id="addressDraw">
										<dl class="location-hots">
											<dt>常用地区</dt>
											<dd>
												<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-1-0.html">北京</a>
											</dd>
											<dd>
												<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-2-0.html">天津</a>
											</dd>
											<dd>
												<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-9-0.html">上海</a>
											</dd>
											<dd>
												<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-35-0.html">海外</a>
											</dd>
										</dl>
										<dl class="location-all">
											<dt>省份</dt>
											<dd>
												<ul>
													<li>
														<p class="lt">A</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-12-0.html">安徽</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-34-0.html">澳门</a></span> </p>
													</li>
													<li>
														<p class="lt">C</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-22-0.html">重庆</a></span> </p>
													</li>
													<li>
														<p class="lt">F</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-13-0.html">福建</a></span> </p>
													</li>
													<li>
														<p class="lt">G</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-19-0.html">广东</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-28-0.html">甘肃</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-20-0.html">广西</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-24-0.html">贵州</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">H</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-21-0.html">海南</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-3-0.html">河北</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-16-0.html">河南</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-8-0.html">黑龙江</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-17-0.html">湖北</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-18-0.html">湖南</a></span> </p>
													</li>
													<li>
														<p class="lt">J</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-10-0.html">江苏</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-14-0.html">江西</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-7-0.html">吉林</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">N</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-6-0.html">辽宁</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-5-0.html">内蒙古</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-30-0.html">宁夏</a></span> </p>
													</li>
													<li>
														<p class="lt">Q</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-29-0.html">青海</a></span> </p>
													</li>
													<li>
														<p class="lt">S</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-15-0.html">山东</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-4-0.html">山西</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-27-0.html">陕西</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-23-0.html">四川</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">T</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-32-0.html">台湾</a></span> </p>
													</li>
													<li>
														<p class="lt">X</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-26-0.html">西藏</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-31-0.html">新疆</a></span> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-33-0.html">香港</a></span> </p>
													</li>
													<li>
														<p class="lt">Y</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-25-0.html">云南</a></span> </p>
													</li>
													<li>
														<p class="lt">Z</p>
														<p class="lc"> <span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-11-0.html">浙江</a></span> </p>
													</li>
												</ul>
											</dd>
										</dl>
										<p class="oreder-default">
											<a href="__APP__/Cate/cate_1074">不限地区</a>
										</p>
									</div>
								</ul>
							</div>
						</div>
					</nav>

					<div>
						<!--<style type="text/css">
							#box {
								background: #FFF;
								width: 238px;
								height: 410px;
								margin: -390px 0 0 0;
								display: block;
								border: solid 4px #434343;
								position: absolute;
								z-index: 999;
								opacity: .5
							}
							
							.shopMenu {
								position: fixed;
								z-index: 1;
								right: 25%;
								top: 0;
							}
						</style>-->
						<div class="squares" >
							<div ng-show="show" id="no_results" ng-model="message" ng-cloak class="no-results"><i></i>{{message}}符合条件的商品</div>
							<ul ng-show="!show" class="list_pic">
								<li class="item" ng-repeat="(k,v) in data" >
									<div class="goods-content">
										<div class="goods-pic">
											<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="{{v.title}}"><img ng-cloak ng-src="__ROOT__/{{v.imgurl[0]}}" title="{{v.title}}" alt="{{v.title}}" /></a>
										</div>
										<div class="goods-info">
											<div class="goods-pic-scroll-show">
												<ul>
													<li ng-class="$index == 0 ? 'selected' : ''" ng-cloak ng-repeat="(kk,vv) in v.imgurl">
														<a><img ng-cloak ng-src="__ROOT__/{{vv}}" /></a>
													</li>
												</ul>
											</div>
											<div class="goods-name">
												<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="9枝白玫瑰紫玫瑰16枝 、8枝子洋桔梗、尤加利若干">{{v.title}}<em>{{v.info}}</em></a>
											</div>
											<div class="goods-price"> <em class="sale-price" >&yen;{{v.StorePrice}}</em> <em class="market-price" >&yen;{{v.marketPrice}}</em></div>
											<div class="goods-sub">
											</div>
											<div class="sell-stat">
												<ul>
													<li>
														<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" class="status">1</a>
														<p>商品销量</p>
													</li>
													<li>
														<a href="__APP__/Will/docomments-101014-0-0.html" target="_blank">0</a>
														<p>用户评论</p>
													</li>
												</ul>
											</div>
											<div class="store">
												<a href="__APP__/Index/index" title="春舞枝旗舰店" class="name">春舞枝旗舰店</a>
											</div>
											<div class="add-cart">
												<a href=""><i class="icon-shopping-cart"></i>加入购物车</a>
											</div>
										</div>
									</div>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
						
					</div>
					<div class="tc mt20 mb20">
						<div ng-show="pages>1" class="pagination">
							<ul>
								<li ng-class="currentPage==0? '' : 'canHover'">
									<span ng-click="currentPage==0? '' : changePage(0)">首页</span>
								</li>
								<li ng-class="currentPage==0? '' : 'canHover'">
									<span ng-click="currentPage > 0? changePage(currentPage-1) : ''">上一页</span>
								</li>
								<li ng-repeat="(k,v) in range(0,pages)" ng-class="currentPage==k? '' : 'canHover' ">
									<span ng-click="currentPage==k? '' : changePage(k)">{{k+1}}</span>
								</li>
								<li ng-class="currentPage == pages - 1 ? '' : 'canHover' ">
									<span ng-click="currentPage < pages -1 ? changePage(currentPage+1) : ''">下一页</span>
								</li>
								<li ng-class="currentPage == pages - 1 ? '' : 'canHover'">
									<span ng-click="currentPage==pages-1? '' : changePage(pages-1)">末页</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <include file="Component:footer" />
		 
		<script type="text/javascript">
		 	function asdf(){
		 	$(".item").hover(itemmouseOver, itemmouseOut);
		 	function itemmouseOver(){
		 		$(this).find(".goods-info").css({"top":180});
		 		return false;
		 	};
		 	function itemmouseOut(){
		 		$(this).find(".goods-info").css({"top":240});
		 		return false;
		 	}
		 	$(".goods-pic-scroll-show li").hover(liHoverIn,function(){
		 		return false ;
		 	});
		 	function liHoverIn(){
		 		$(this).parent().find("li").attr("class","");
		 		this.className = "selected" ;
		 		$(this).parent().parent().parent().prev().find("img")[0].src = $(this).find("img")[0].src;
		 		$(this).parent().parent().parent().prev().find("img").css({
		 			"width":220,
		 			"height":220,
		 		})
		 	}
		 	};
			var data = {$data} ;
			var app = angular.module("app",[]);
			app.controller("myCon",function ($scope,$http) {
				$scope.show = true ;
				$scope.message = "正在搜索";
				//显示加载页
				$scope.currentPage = 0;
				//当前页数
				$scope.isMaterial = false ;
			    $scope.isNumber = false ;
			    //按钮搜索条件
			    $scope.arr = [] ; 
			    //存放关键字
				if(data.status == 1 ){
					$scope.pages = data.pages;
					$scope.show = false ;
					$scope.data = data.info;
				}else{
					$scope.pages = 0;
					$scope.data = [];
				}
				setTimeout(function(){
					asdf();
				},0);
				window.clearTimeout();
				$scope.range = function (start, end) {
			        var ret = [];
			        if (!end) {
			            end = start;
			            start = 0;
			        }
			        for (var i = start; i < end; i++) {
			            ret.push(i);
			        }
			        return ret;
			    };
			    $scope.changePage = function(k){
			    	if( $scope.arr.length > 1){
			    		CateKeyWord($scope.arr,k);
			    	}
			    	getItem(k);
			    }
			    function getItem(page){
					$http.get("__APP__/Cate/getList?page="+page).success(function(data){
						if(data.status === 1 ){
							$scope.show = false ;
							$scope.data = data.info;
							$scope.pages = data.pages;
							$scope.currentPage = page;
							console.log($scope.currentPage);
							setTimeout(function(){
								asdf();
							},0);
							window.clearTimeout();
							//让节点循环完之后绑定jq事件
						}else{
							$scope.show = true ;
			    			$scope.pages = 0;
							$scope.message = data.info ;
						}
					}).error(function(data){
						console.log(data);
					});
				}
			    $scope.search = function($event,k){
			    	var text = $($event.target).text();
			    	$($event.target).parent().attr("class","goodsLables goodsLables_selected");
			    	$($event.target).parent().find("span").css({"display":"inline"});
			    	if(k === 1){
			    		$scope.isMaterial = true ;
			    	}
			    	if(k === 2){
			    		$scope.isNumber = true ;
			    	}
			    	$scope.arr[k-1] = text;
			    	CateKeyWord($scope.arr)
			    	return false;
			    }
			    $scope.unsearch = function($event ,k){
			    	console.log($($event.target).parent().prev().text());
			    	$($event.target).parent().parent().attr("class","goodsLables");
			    	$($event.target).parent().parent().find("span").css({"display":"none"});
					if(k === 1){
			    		$scope.isMaterial = false ;
			    	}
			    	if(k === 2){
			    		$scope.isNumber = false ;
			    	}
			    	$scope.arr[k-1] = "";
			    	CateKeyWord($scope.arr);
					return false;
				}
			    function CateKeyWord(arr,k){
			    	$http({
			    		url:"__APP__/Cate/CateKeyWord",
			    		method:"POST",
			    		data:{
			    			arr:arr,
			    			page:k,
			    		},
			    		headers:{
	        				"Content-Type":"application/x-www-form-urlencoded",
	        			},
			    	}).success(function(data){
			    		if(data.status === 1){
			    			$scope.show = false ;
			    			$scope.data = data.data;
			    			$scope.pages = data.pages;
							$scope.currentPage = 0;
							setTimeout(function(){
								asdf();
							},0);
							window.clearTimeout();
			    		}else{
			    			$scope.show = true ;
			    			$scope.pages = 0;
			    			$scope.message = data.info ;
			    		}
			    	}).error(function(err){
			    		console.log("错误是"+err);
			    	});
			    }
		    });
		</script>
	</body>
</html>
