<!doctype html>
<html lang="zh">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>myproject</title>
		<link rel="shortcut icon" href="http://531314.com/favicon.ico" />
		<link href="__ROOT__/Index/Common/css/base.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_header.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/home_login.css" rel="stylesheet" type="text/css">
		<link href="http://www.531314.com/resource/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="http://res.531314.com/js/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
		<link href="http://res.531314.com/js/qtip/jquery.qtip.min.css" rel="stylesheet" type="text/css">
		<link href="__ROOT__/Index/Common/css/layout.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
	</head>

	<body>
		
		<include file="Component:site-nav" />
		<include file="Component:header" />
		
		<div class="nch-breadcrumb-layout">
			<div class="nch-breadcrumb wrapper"><i class="icon-home"></i>
				<span><a href="http://www.531314.com">首页</a></span><span class="arrow">></span>
				<span><a href="http://www.531314.com/cate-1072-0-0-0-0-0-0-0-0.html">所有分类</a></span><span class="arrow">></span>
				<span><a href="http://www.531314.com/cate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a></span><span class="arrow">></span>
				<span>鲜花束</span>
			</div>
		</div>
		
		<div class="nch-container wrapper">
			<div class="left">
				<div class="nch-module nch-module-style02">
					<div class="title">
						<h3>分类筛选</h3>
					</div>
					<div class="content">
						<ul id="files" class="tree">
							<li><i class="tree-parent tree-parent-collapsed"></i>
								<a href="http://www.531314.com/cate-1072-0-0-0-0-0-0-0-0.html">所有分类</a>
								<ul>
									<li><i class="tree-parent tree-parent-collapsed"></i>
										<a href="http://www.531314.com/cate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a>
										<ul>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-0-0.html" class="selected">鲜花束</a>
											</li>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="http://www.531314.com/cate-1075-0-0-0-0-0-0-0-0.html">盒装鲜花</a>
											</li>
											<li class="tree-parent tree-parent-collapsed"><i></i>
												<a href="http://www.531314.com/cate-1076-0-0-0-0-0-0-0-0.html">家庭插花</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="right">
				<div class="nch-module">
					<div class="class-content">
						<div class="goodsType">
							<div class="goodsType_row">
								<div class="goodsClass">主花材：</div>
								<div class="goodsLable">
									<div class="goodsLables" id="search_div_class_27" >
										<a >玫瑰</a>
										<a class="span-a" href="javascript:deleteItem(26,27);"><span id="delte-span-27">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_28" >
										<a >百合</a>
										<a class="span-a" href="javascript:deleteItem(26,28);"><span id="delte-span-28">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_29" >
										<a >康乃馨</a>
										<a class="span-a" href="javascript:deleteItem(26,29);"><span id="delte-span-29">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_30" >
										<a >其它</a>
										<a class="span-a" href="javascript:deleteItem(26,30);"><span id="delte-span-30">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_85" >
										<a >洋牡丹</a>
										<a class="span-a" href="javascript:deleteItem(26,85);"><span id="delte-span-85">×</span></a>
									</div>
								</div>
							</div>
							<div class="goodsType_row">
								<div class="goodsClass">节日：</div>
								<div class="goodsLable">
									<div class="goodsLables" id="search_div_class_32" >
										<a >情人节</a>
										<a class="span-a" href="javascript:deleteItem(31,32);"><span id="delte-span-32">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_33" >
										<a >母亲节</a>
										<a class="span-a" href="javascript:deleteItem(31,33);"><span id="delte-span-33">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_34" >
										<a >父亲节</a>
										<a class="span-a" href="javascript:deleteItem(31,34);"><span id="delte-span-34">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_35" >
										<a >圣诞节</a>
										<a class="span-a" href="javascript:deleteItem(31,35);"><span id="delte-span-35">×</span></a>
									</div>
								</div>
							</div>
							<div class="goodsType_row">
								<div class="goodsClass">枝数：</div>
								<div class="goodsLable">
									<div class="goodsLables" id="search_div_class_37" >
										<a >9</a>
										<a class="span-a" href="javascript:deleteItem(36,37);"><span id="delte-span-37">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_38" >
										<a >11</a>
										<a class="span-a" href="javascript:deleteItem(36,38);"><span id="delte-span-38">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_39" >
										<a >19</a>
										<a class="span-a" href="javascript:deleteItem(36,39);"><span id="delte-span-39">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_40" >
										<a >36</a>
										<a class="span-a" href="javascript:deleteItem(36,40);"><span id="delte-span-40">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_41" >
										<a >99</a>
										<a class="span-a" href="javascript:deleteItem(36,41);"><span id="delte-span-41">×</span></a>
									</div>
								</div>
							</div>
							<div class="goodsType_row">
								<div class="goodsClass">送花对象：</div>
								<div class="goodsLable">
									<div class="goodsLables" id="search_div_class_51" >
										<a >爱人</a>
										<a class="span-a" href="javascript:deleteItem(50,51);"><span id="delte-span-51">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_52" >
										<a >恋人</a>
										<a class="span-a" href="javascript:deleteItem(50,52);"><span id="delte-span-52">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_53" >
										<a >单身</a>
										<a class="span-a" href="javascript:deleteItem(50,53);"><span id="delte-span-53">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_54" >
										<a >老师</a>
										<a class="span-a" href="javascript:deleteItem(50,54);"><span id="delte-span-54">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_55" >
										<a >朋友</a>
										<a class="span-a" href="javascript:deleteItem(50,55);"><span id="delte-span-55">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_56" >
										<a >长辈</a>
										<a class="span-a" href="javascript:deleteItem(50,56);"><span id="delte-span-56">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_57" >
										<a >探望</a>
										<a class="span-a" href="javascript:deleteItem(50,57);"><span id="delte-span-57">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_58">
										<a >客户</a>
										<a class="span-a" href="javascript:deleteItem(50,58);"><span id="delte-span-58">×</span></a>
									</div>
								</div>
							</div>
							<div class="goodsType_row">
								<div class="goodsClass">鲜花生活馆：</div>
								<div class="goodsLable">
									<div class="goodsLables" id="search_div_class_60">
										<a >家庭套餐</a>
										<a class="span-a" href=""><span id="delte-span-60">×</span></a>
									</div>
									<div class="goodsLables" id="search_div_class_61">
										<a >月度套餐</a>
										<a class="span-a" href=""><span id="delte-span-61">×</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nch-module nch-module-style01">
					<div class="title">
						<h3>
<em>鲜花束</em> -
商品筛选</h3>
					</div>
					<div class="content">
						<div class="nch-module-filter">
							<dl>
								<dt>品牌：</dt>
								<dd class="list">
									<ul>
										<li>
											<a href="__APP__/Cate/cate_1074">春舞枝</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt>颜色：</dt>
								<dd class="list">
									<ul>
										<li>
											<a href="http://www.531314.com/cate-1074-0-1-0-0-0-0-0-0.html">红色</a>
										</li>
										<li>
											<a href="http://www.531314.com/cate-1074-0-2-0-0-0-0-0-0.html">香槟</a>
										</li>
										<li>
											<a href="http://www.531314.com/cate-1074-0-3-0-0-0-0-0-0.html">蓝色</a>
										</li>
										<li>
											<a href="http://www.531314.com/cate-1074-0-4-0-0-0-0-0-0.html">白色</a>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="shop_con_list" id="main-nav-holder">
					<nav class="sort-bar" id="main-nav">
						<div class="pagination">
							<ul>
								<li><span>上一页</span></li>
								<li>
									<a class="demo" href="http://www.531314.com/cate-1074-0-0-0-0-0-0-0-2.html"><span>下一页</span></a>
								</li>
							</ul>
						</div>
						<!--<div class="nch-all-category">
							<div class="all-category">
								<div class="title"> <i></i>
									<h3><a href="http://www.531314.com/category.html">所有商品分类</a></h3>
								</div>
								<div class="category">
									<ul class="menu">
										<li class="odd">
											<div class="class">
												<h4><a href="http://www.531314.com/cate-1072-0-0-0-0-0-0-0-0.html">所有分类</a></h4>
												<span class="arrow"></span> </div>
											<div class="sub-class">
												<div class="sub-class-content">
													<div class="recommend-class">
														<span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-0-0.html" title="鲜花束">鲜花束</a></span>
														<span><a href="http://www.531314.com/cate-1075-0-0-0-0-0-0-0-0.html" title="盒装鲜花">盒装鲜花</a></span>
														<span><a href="http://www.531314.com/cate-1076-0-0-0-0-0-0-0-0.html" title="家庭插花">家庭插花</a></span>
														<span><a href="http://www.531314.com/cate-1078-0-0-0-0-0-0-0-0.html" title="多肉植物">多肉植物</a></span>
														<span><a href="http://www.531314.com/cate-1079-0-0-0-0-0-0-0-0.html" title="桌面盆栽">桌面盆栽</a></span>
													</div>
													<dl>
														<dt>
<h3><a href="http://www.531314.com/cate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a></h3>
</dt>
														<dd class="goods-class">
															<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-0-0.html">鲜花束</a>
															<a href="http://www.531314.com/cate-1075-0-0-0-0-0-0-0-0.html">盒装鲜花</a>
															<a href="http://www.531314.com/cate-1076-0-0-0-0-0-0-0-0.html">家庭插花</a>
														</dd>
													</dl>
													<dl>
														<dt>
<h3><a href="http://www.531314.com/cate-1077-0-0-0-0-0-0-0-0.html">花卉绿植</a></h3>
</dt>
														<dd class="goods-class">
															<a href="http://www.531314.com/cate-1078-0-0-0-0-0-0-0-0.html">多肉植物</a>
															<a href="http://www.531314.com/cate-1079-0-0-0-0-0-0-0-0.html">桌面盆栽</a>
														</dd>
													</dl>
												</div>
												<div class="sub-class-right">
													<div class="brands-list">
													</div>
													<div class="adv-promotions"> </div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>-->
						<div class="nch-sortbar-array"> 排序方式：
							<ul>
								<li class="selected">
									<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-0-0.html" title="默认排序">默认</a>
								</li>
								<li>
									<a href="http://www.531314.com/cate-1074-0-0-1-2-0-0-0-0.html" title="点击按销量从高到低排序">销量<i></i></a>
								</li>
								<li>
									<a href="http://www.531314.com/cate-1074-0-0-2-2-0-0-0-0.html" title="点击按人气从高到低排序">人气<i></i></a>
								</li>
								<li>
									<a href="http://www.531314.com/cate-1074-0-0-3-2-0-0-0-0.html" title="点击按价格从高到低排序">价格<i></i></a>
								</li>
							</ul>
						</div>
						<div class="nch-sortbar-owner"><span><a href="http://www.531314.com/cate-1074-0-0-0-0-1-0-0-0.html"><i></i>平台自营</a></span></div>
						<div class="nch-sortbar-owner"><span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-1-0-0.html"><i></i>赠品</a></span></div>
						<div class="nch-sortbar-location">商品所在地：
							<div class="select-layer">
								<div class="holder"><em>不限地区 </em></div>
								<div class="selected">
									<a>不限地区 </a>
								</div>
								<i class="direction"></i>
								<ul class="options">
									<div class="filter-detailc" id="addressDraw">
										<dl class="location-hots">
											<dt>常用地区</dt>
											<dd>
												<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-1-0.html">北京</a>
											</dd>
											<dd>
												<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-2-0.html">天津</a>
											</dd>
											<dd>
												<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-9-0.html">上海</a>
											</dd>
											<dd>
												<a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-35-0.html">海外</a>
											</dd>
										</dl>
										<dl class="location-all">
											<dt>省份</dt>
											<dd>
												<ul>
													<li>
														<p class="lt">A</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-12-0.html">安徽</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-34-0.html">澳门</a></span> </p>
													</li>
													<li>
														<p class="lt">C</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-22-0.html">重庆</a></span> </p>
													</li>
													<li>
														<p class="lt">F</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-13-0.html">福建</a></span> </p>
													</li>
													<li>
														<p class="lt">G</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-19-0.html">广东</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-28-0.html">甘肃</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-20-0.html">广西</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-24-0.html">贵州</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">H</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-21-0.html">海南</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-3-0.html">河北</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-16-0.html">河南</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-8-0.html">黑龙江</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-17-0.html">湖北</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-18-0.html">湖南</a></span> </p>
													</li>
													<li>
														<p class="lt">J</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-10-0.html">江苏</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-14-0.html">江西</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-7-0.html">吉林</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">N</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-6-0.html">辽宁</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-5-0.html">内蒙古</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-30-0.html">宁夏</a></span> </p>
													</li>
													<li>
														<p class="lt">Q</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-29-0.html">青海</a></span> </p>
													</li>
													<li>
														<p class="lt">S</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-15-0.html">山东</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-4-0.html">山西</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-27-0.html">陕西</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-23-0.html">四川</a></span> </p>
													</li>
												</ul>
												<ul>
													<li>
														<p class="lt">T</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-32-0.html">台湾</a></span> </p>
													</li>
													<li>
														<p class="lt">X</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-26-0.html">西藏</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-31-0.html">新疆</a></span> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-33-0.html">香港</a></span> </p>
													</li>
													<li>
														<p class="lt">Y</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-25-0.html">云南</a></span> </p>
													</li>
													<li>
														<p class="lt">Z</p>
														<p class="lc"> <span><a href="http://www.531314.com/cate-1074-0-0-0-0-0-0-11-0.html">浙江</a></span> </p>
													</li>
												</ul>
											</dd>
										</dl>
										<p class="oreder-default">
											<a href="__APP__/Cate/cate_1074">不限地区</a>
										</p>
									</div>
								</ul>
							</div>
						</div>
					</nav>

					<div>
						<!--<style type="text/css">
							#box {
								background: #FFF;
								width: 238px;
								height: 410px;
								margin: -390px 0 0 0;
								display: block;
								border: solid 4px #434343;
								position: absolute;
								z-index: 999;
								opacity: .5
							}
							
							.shopMenu {
								position: fixed;
								z-index: 1;
								right: 25%;
								top: 0;
							}
						</style>-->
						<div class="squares" ng-app="app" ng-controller="myCon">
							<ul class="list_pic">
								<li class="item" ng-repeat="(k,v) in data" >
									<div class="goods-content">
										<div class="goods-pic">
											<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="{{v.title}}"><img src="__ROOT__/{{v.imgurl[0]}}" title="{{v.title}}" alt="{{v.title}}" /></a>
										</div>
										<div class="goods-info">
											<div class="goods-pic-scroll-show">
												<ul>
													<li class="selected" ng-repeat="(kk,vv) in v.imgurl">
														<a href=""><img src="__ROOT__/{{vv}}" /></a>
													</li>
												</ul>
											</div>
											<div class="goods-name">
												<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="9枝白玫瑰紫玫瑰16枝 、8枝子洋桔梗、尤加利若干">{{v.title}}<em>{{v.info}}</em></a>
											</div>
											<div class="goods-price"> <em class="sale-price" >&yen;{{v.StorePrice}}</em> <em class="market-price" >&yen;{{v.marketPrice}}</em></div>
											<div class="goods-sub">
											</div>
											<div class="sell-stat">
												<ul>
													<li>
														<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" class="status">1</a>
														<p>商品销量</p>
													</li>
													<li>
														<a href="http://www.531314.com/comments-101014-0-0.html" target="_blank">0</a>
														<p>用户评论</p>
													</li>
												</ul>
											</div>
											<div class="store">
												<a href="__APP__/Index/index" title="春舞枝旗舰店" class="name">春舞枝旗舰店</a>
											</div>
											<div class="add-cart">
												<a href=""><i class="icon-shopping-cart"></i>加入购物车</a>
											</div>
										</div>
									</div>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
						
					</div>
					<div class="tc mt20 mb20">
						<div class="pagination">
							<ul>
								<li><span>首页</span></li>
								<li><span>上一页</span></li>
								<li><span class="currentpage">1</span></li>
								<li>
									<a class="demo" ><span>下一页</span></a>
								</li>
								<li>
									<a class="demo" ><span>末页</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <include file="Component:footer" />
		 
		<script type="text/javascript">
		 	function asdf(){
		 		console.log($(".item"))
		 	$(".item").hover(itemmouseOver, itemmouseOut);
		 	function itemmouseOver(){
		 		$(this).find(".goods-info").css({"top":180});
		 		return false;
		 	};
		 	function itemmouseOut(){
		 		$(this).find(".goods-info").css({"top":240});
		 		return false;
		 	}
		 	$(".goods-pic-scroll-show li").hover(liHoverIn,function(){
		 		return false;
		 	});
		 	function liHoverIn(){
		 		$(".goods-pic-scroll-show li").each(function(){
		 			this.className = "" ;
		 		});
		 		this.className = "selected" ;
		 		$(this).parent().parent().parent().prev().find("img")[0].src = $(this).find("img")[0].src;
		 		$(this).parent().parent().parent().prev().find("img").css({
		 			"width":220,
		 			"height":220,
		 		})
		 	}
		 	};

			var app = angular.module("app",[]);
			app.controller("myCon",function ($scope,$http) {
				$scope.data = [];
				$scope.err = "";
				$http.get("__APP__/Cate/getList").success(function(data){
//					console.log(data);
					if(data.status ===1 ){
						$scope.data = data.info;
//						console.log($scope.data)
						setTimeout(function(){
							asdf();
						},0);
						//让节点循环完之后绑定jq事件
					}else{
						$scope.err = "系统错误暂时找不到信息" ;
					}
				}).error(function(data){
					console.log(data);
				})
		    });
		</script>
	</body>
</html>
