<!doctype html>
<html lang="zh">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{$keyWord} - 春舞枝搜索</title>
	<link rel="shortcut icon" href="http://531314.com/favicon.ico" />
	<link href="__ROOT__/Index/Common/css/base.css" rel="stylesheet" type="text/css">
	<link href="__ROOT__/Index/Common/css/home_header.css" rel="stylesheet" type="text/css">
	<link href="__ROOT__/Index/Common/css/home_login.css" rel="stylesheet" type="text/css">
	<link href="__APP__/Will/doresource/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="__ROOT__/Index/Common/css/layout.css" rel="stylesheet" type="text/css">
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Index/Common/js/angular.min.js"></script>
	<style type="text/css">
		body {
			_behavior: url(__APP__/Will/dotemplates/new/css/csshover.htc);
		}
	</style>
</head>

<body ng-app="app" ng-controller="myCon">
	<include file="Component:site-nav" />
	<include file="Component:header" />
	<div class="nch-breadcrumb-layout">
		<div class="nch-breadcrumb wrapper"><i class="icon-home"></i>
			<span><a href="__APP__/Index/index">首页</a></span><span class="arrow">></span>
			<span>搜索结果</span>
		</div>
	</div>
	<div class="nch-container wrapper">
		<div class="left">

			<div nctype="booth_goods" class="nch-module" style="display:none;"> </div>

			<div class="nch-module"></div>

			<div class="nch-module nch-module-style03">
				<div class="title">
					<h3>最近浏览</h3>
				</div>
				<div class="content">
					<div class="nch-sidebar-viewed" id="nchSidebarViewed">
						<ul>
						</ul>
					</div>
					<a href="__APP__/member/goods" class="nch-sidebar-all-viewed">全部浏览历史</a>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="shop_con_list" id="main-nav-holder">
				<nav class="sort-bar" id="main-nav">
					<div class="pagination">
						<ul>
							<li><span>上一页</span></li>
							<li><span>下一页</span></li>
						</ul>
					</div>
					<!--<div class="nch-all-category">
						<div class="all-category">
							<div class="title"> <i></i>
								<h3><a href="__APP__/Will/docategory.html">所有商品分类</a></h3>
							</div>
							<div class="category">
								<ul class="menu">
									<li cat_id="1072" class="odd">
										<div class="class">
											<h4><a href="__APP__/Will/docate-1072-0-0-0-0-0-0-0-0.html">所有分类</a></h4>
											<span class="arrow"></span> </div>
										<div class="sub-class" cat_menu_id="1072">
											<div class="sub-class-content">
												<div class="recommend-class">
													<span><a href="__APP__/Will/docate-1074-0-0-0-0-0-0-0-0.html" title="鲜花束">鲜花束</a></span>
													<span><a href="__APP__/Will/docate-1075-0-0-0-0-0-0-0-0.html" title="盒装鲜花">盒装鲜花</a></span>
													<span><a href="__APP__/Will/docate-1076-0-0-0-0-0-0-0-0.html" title="家庭插花">家庭插花</a></span>
													<span><a href="__APP__/Will/docate-1078-0-0-0-0-0-0-0-0.html" title="多肉植物">多肉植物</a></span>
													<span><a href="__APP__/Will/docate-1079-0-0-0-0-0-0-0-0.html" title="桌面盆栽">桌面盆栽</a></span>
												</div>
												<dl>
													<dt>
<h3><a href="__APP__/Will/docate-1073-0-0-0-0-0-0-0-0.html">鲜花速递</a></h3>
</dt>
													<dd class="goods-class">
														<a href="__APP__/Will/docate-1074-0-0-0-0-0-0-0-0.html">鲜花束</a>
														<a href="__APP__/Will/docate-1075-0-0-0-0-0-0-0-0.html">盒装鲜花</a>
														<a href="__APP__/Will/docate-1076-0-0-0-0-0-0-0-0.html">家庭插花</a>
													</dd>
												</dl>
												<dl>
													<dt>
<h3><a href="__APP__/Will/docate-1077-0-0-0-0-0-0-0-0.html">花卉绿植</a></h3>
</dt>
													<dd class="goods-class">
														<a href="__APP__/Will/docate-1078-0-0-0-0-0-0-0-0.html">多肉植物</a>
														<a href="__APP__/Will/docate-1079-0-0-0-0-0-0-0-0.html">桌面盆栽</a>
													</dd>
												</dl>
											</div>
											<div class="sub-class-right">
												<div class="brands-list">
												</div>
												<div class="adv-promotions"> </div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>-->
					<div class="nch-sortbar-array"> 排序方式：
						<ul>
							<li class="selected">
								<a href="__APP__/Search/keyword" title="默认排序">默认</a>
							</li>
							<li>
								<a href="__APP__/Search/sales" title="点击按销量从高到低排序">销量<i></i></a>
							</li>
							<li>
								<a href="__APP__/Search/hot" title="点击按人气从高到低排序">人气<i></i></a>
							</li>
							<li>
								<a href="=__APP__/Search/price" title="点击按价格从高到低排序">价格<i></i></a>
							</li>
						</ul>
					</div>
					<div class="nch-sortbar-location">商品所在地：
						<div class="select-layer">
							<div class="holder"><em nc_type="area_name">不限地区 </em></div>
							<div class="selected">
								<a nc_type="area_name">不限地区 </a>
							</div>
							<i class="direction"></i>
							<ul class="options">
								<div class="filter-detailc" id="addressDraw">
									<dl class="location-hots">
										<dt>常用地区</dt>
										<dd>
											<a href="__APP__/Search/area?area_id=1">北京</a>
										</dd>
										<dd>
											<a href="__APP__/Search/area?area_id=1">天津</a>
										</dd>
										<dd>
											<a href="__APP__/Search/area?area_id=1">上海</a>
										</dd>
										<dd>
											<a href="__APP__/Search/area?area_id=1">海外</a>
										</dd>
									</dl>
									<dl class="location-all">
										<dt>省份</dt>
										<dd>
											<ul>
												<li>
													<p class="lt">A</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=12">安徽</a></span> <span><a href="__APP__/Search/area?area_id=1">澳门</a></span> </p>
												</li>
												<li>
													<p class="lt">C</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=1">重庆</a></span> </p>
												</li>
												<li>
													<p class="lt">F</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=1">福建</a></span> </p>
												</li>
												<li>
													<p class="lt">G</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=1">广东</a></span> <span><a href="__APP__/Search/area?area_id=1">甘肃</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=20">广西</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=24">贵州</a></span> </p>
												</li>
											</ul>
											<ul>
												<li>
													<p class="lt">H</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=1">海南</a></span> <span><a href="__APP__/Search/area?area_id=1">河北</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=16">河南</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=8">黑龙江</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=17">湖北</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=18">湖南</a></span> </p>
												</li>
												<li>
													<p class="lt">J</p>
													<p class="lc"> <span><a href="__APP__/Search/area?area_id=1">江苏</a></span> <span><a href="__APP__/Search/area?area_id=1">江西</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=7">吉林</a></span> </p>
												</li>
											</ul>
											<ul>
												<li>
													<p class="lt">N</p>
													<p class="lc"> <span><a href="http://id/index.php?act=search&op=index&keyword=s&area_id=6">辽宁</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=5">内蒙古</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=30">宁夏</a></span> </p>
												</li>
												<li>
													<p class="lt">Q</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=29">青海</a></span> </p>
												</li>
												<li>
													<p class="lt">S</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=15">山东</a></span> <span><a href="idact=search&op=index&keyword=s&area_id=4">山西</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=27">陕西</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=23">四川</a></span> </p>
												</li>
											</ul>
											<ul>
												<li>
													<p class="lt">T</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=32">台湾</a></span> </p>
												</li>
												<li>
													<p class="lt">X</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=26">西藏</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=31">新疆</a></span> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=33">香港</a></span> </p>
												</li>
												<li>
													<p class="lt">Y</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=25">云南</a></span> </p>
												</li>
												<li>
													<p class="lt">Z</p>
													<p class="lc"> <span><a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=11">浙江</a></span> </p>
												</li>
											</ul>
										</dd>
									</dl>
									<p class="oreder-default">
										<a href="__APP__/Will/doindex.php?act=search&op=index&keyword=s&area_id=0">不限地区</a>
									</p>
								</div>
							</ul>
						</div>
					</div>
				</nav>

				<div>
					<!--<style type="text/css">
						#box {
							background: #FFF;
							width: 238px;
							height: 410px;
							margin: -390px 0 0 0;
							display: block;
							border: solid 4px #434343;
							position: absolute;
							z-index: 999;
							opacity: .5
						}
						
						.shopMenu {
							position: fixed;
							z-index: 1;
							right: 25%;
							top: 0;
						}
					</style>-->
					<div class="squares" nc_type="current_display_mode">
						<div ng-show="show" id="no_results" ng-model="message" ng-cloak class="no-results"><i></i>{{message}}符合条件的商品</div>
						<ul class="list_pic">
							<li class="item" ng-show="!show" ng-repeat="(k,v) in data" >
								<div class="goods-content">
									<div class="goods-pic">
										<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="{{v.title}}"><img ng-cloak ng-src="__ROOT__/{{v.imgurl[0]}}" title="{{v.title}}" alt="{{v.title}}" /></a>
									</div>
									<div class="goods-info">
										<div class="goods-pic-scroll-show">
											<ul>
												<li class="selected" ng-repeat="(kk,vv) in v.imgurl">
													<a href=""><img ng-cloak ng-src="__ROOT__/{{vv}}" /></a>
												</li>
											</ul>
										</div>
										<div class="goods-name">
											<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" title="9枝白玫瑰紫玫瑰16枝 、8枝子洋桔梗、尤加利若干">{{v.title}}<em>{{v.info}}</em></a>
										</div>
										<div class="goods-price"> <em class="sale-price" >&yen;{{v.StorePrice}}</em> <em class="market-price" >&yen;{{v.marketPrice}}</em></div>
										<div class="goods-sub">
										</div>
										<div class="sell-stat">
											<ul>
												<li>
													<a href="__APP__/Item/item?item={{v.classify}}" target="_blank" class="status">1</a>
													<p>商品销量</p>
												</li>
												<li>
													<a href="__APP__/Will/docomments-101014-0-0.html" target="_blank">0</a>
													<p>用户评论</p>
												</li>
											</ul>
										</div>
										<div class="store">
											<a href="__APP__/Index/index" title="春舞枝旗舰店" class="name">春舞枝旗舰店</a>
										</div>
										<div class="add-cart">
											<a href=""><i class="icon-shopping-cart"></i>加入购物车</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tc mt20 mb20">
					<div class="pagination">
						<ul>
							<li ng-class="currentPage==0? '' : 'canHover'">
								<span ng-click="currentPage==0? '' : changePage(0)">首页</span>
							</li>
							<li ng-class="currentPage==0? '' : 'canHover'">
								<span ng-click="currentPage > 0? changePage(currentPage-1) : ''">上一页</span>
							</li>
							<li ng-cloak ng-repeat="(k,v) in range(0,pages)" ng-class="currentPage==k? '' : 'canHover' ">
								<span ng-click="currentPage==k? '' : changePage(k)">{{k+1}}</span>
							</li>
							<li ng-class="currentPage == pages - 1 ? '' : 'canHover' ">
								<span ng-click="currentPage < pages -1 ? changePage(currentPage+1) : ''">下一页</span>
							</li>
							<li ng-class="currentPage == pages - 1 ? '' : 'canHover'">
								<span ng-click="currentPage==pages-1? '' : changePage(pages-1)">末页</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="guesslike_div" style="width:980px;"></div>
		</div>
	</div>
	<include file="Component:footer" />
	<script type="text/javascript">
		var keyWord = "{$keyWord}" ;
		
		function asdf(){
	 	$(".item").hover(itemmouseOver, itemmouseOut);
	 	function itemmouseOver(){
	 		$(this).find(".goods-info").css({"top":180});
	 		return false;
	 	};
	 	function itemmouseOut(){
	 		$(this).find(".goods-info").css({"top":240});
	 		return false;
	 	}
	 	$(".goods-pic-scroll-show li").hover(liHoverIn,function(){
	 		return false;
	 	});
	 	function liHoverIn(){
	 		$(".goods-pic-scroll-show li").each(function(){
	 			this.className = "" ;
	 		});
	 		this.className = "selected" ;
	 		$(this).parent().parent().parent().prev().find("img")[0].src = $(this).find("img")[0].src;
	 		$(this).parent().parent().parent().prev().find("img").css({
		 			"width":220,
		 			"height":220,
		 		})
		 	}
	 	};
		
		var app = angular.module("app",[]);
		app.controller("myCon",function ($scope,$http) {
			$scope.title = keyWord;
			$scope.show = true ;
			$scope.data = [];
			$scope.message = "等待查询";
			
			$scope.pages = 0;
			$scope.currentPage = 0;
			$scope.range = function (start, end) {
		        var ret = [];
		        if (!end) {
		            end = start;
		            start = 0;
		        }
		        for (var i = start; i < end; i++) {
		            ret.push(i);
		        }
		        return ret;
		    };
		    $scope.changePage = function(k){
		    	console.log(k)
		    	searchKey($scope.title,k);
		    }
		    searchKey($scope.title,$scope.pages);
			function searchKey(keyWord,page){
				$http.get("__APP__/Search/searchKeyWord?keyWord="+ keyWord + "&page=" + page)
				.success(function(data){
					console.log(data);
					if(data.status ===1){
						$scope.data = data.data;
						$scope.show = false ;
						$scope.pages = data.pages;
						console.log($scope.pages)
						$scope.currentPage = page;
						setTimeout(function(){
							asdf();
						},0);
					}else{
						$scope.show = true ; 
						$scope.message = "没有找到" ;
					}
				}).error(function(data){
					console.log(data);
				})
			}
			
	  });
	</script>
	
	</body>

</html>